{% extends 'courses/base.html' %}
{% load static %}

{% block content %}
    <h1>Добро пожаловать в мир программирования!</h1>
    <h2>Давай писать полезные программы. У нас есть несколько курсов:</h2>
        {% for course in object_list %}
            <li><a href="{% url 'courses:course_detail' course.slug %}">{{ course.title }}</a></li>
        {% endfor %}
    <h3>Хочешь обучать других?</h3>
        <a href="{% url 'courses:course_create' %}">Добавь свой курс здесь!</a>
{% endblock content %}


